[submodule "nginx-proxy"]
	path = nginx-proxy
	url = git@github.com:evonove/docker-nginx-proxy.git
[submodule "postgres"]
	path = postgres
	url = git@github.com:evonove/docker-postgres.git
[submodule "docker-ci"]
	path = docker-ci
	url = git@github.com:evonove/docker-ci.git
[submodule "celery"]
	path = celery
	url = git@github.com:evonove/docker-celery.git
[submodule "nginx-static"]
	path = nginx-static
	url = git@github.com:evonove/docker-nginx-static.git
[submodule "gulp-builder"]
	path = gulp-builder
	url = git@github.com:evonove/docker-gulp-builder.git
[submodule "python"]
	path = python
	url = git@github.com:evonove/docker-python.git
