[submodule "nginx-proxy"]
	path = nginx-proxy
	url = git@github.com:evonove/docker-nginx-proxy.git
[submodule "postgres"]
	path = postgres
	url = git@github.com:evonove/docker-postgres.git
[submodule "docker-ci"]
	path = docker-ci
	url = git@github.com:evonove/docker-ci.git
[submodule "celery"]
	path = celery
	url = git@github.com:evonove/docker-celery.git
